# Test outputs
devfiles/adaptor_test/out/
devfiles/submission_test_files/suzanne_cameras_and_viewlayers/out

devcontainer/config
devcontainer/*.env
# example env is the only .env file to include
!example.env

# Hatch version temp file
*_version.py

# build artifacts
build/
dependency_bundle/
dist/
dist_extras/
plugin_env/
wheels/
installer/components/

# License file for InstallBuilder
license.xml

*.egg-info/
__pycache__/
*.py[cod]
.coverage
.tox

# misc extensions that might pop up
*.run
*.exe
*.zip
*.app
*.dmg

# virtualenv
.venv
venv/

# IDE
.vscode
.idea/

# macOS
.DS_STORE

# Artifacts from integration tests
*.blend1
*.deadline_render_settings.json

.DS_Store