black == 26.*; python_version >= "3.10"
black == 25.*; python_version < "3.10"
coverage[toml] == 7.*
moto[s3,sts] == 5.*
mypy == 2.*; python_version >= "3.10"
mypy == 1.*; python_version < "3.10"
pytest == 9.*; python_version >= "3.10"
pytest == 8.*; python_version < "3.10"
pytest-cov == 7.*
pytest-xdist == 3.*
ruff == 0.16.*
twine == 6.*
types-pyyaml == 6.*
