coverage[toml] ~= 7.2; python_version == '3.7'
coverage[toml] ~= 7.3; python_version > '3.7'
deadline-cloud-test-fixtures == 0.5.*
pytest ~= 7.4
pytest-cov ~= 4.1
pytest-xdist ~= 3.3
twine ~= 4.0
black == 23.3.*; python_version == '3.7'
black == 23.*; python_version > '3.7'
mypy ~= 1.4; python_version == '3.7'
mypy ~= 1.8; python_version > '3.7'
ruff ~= 0.0.284
moto[s3,sts] ~= 4.1